*:focus {
    outline: none !important;
}
body{
overflow-x: hidden;
}

.header{
	background-color: #252525;
	height: 100vh;
	max-height: 675px;
	min-height: 300px;
}
.header::before{
	content:'';
	width: 95vw;	
	min-height: 240px;
	max-height: 600px;
	/*height: 92vh;*/
	height: auto;
	/*height: 87vh;*/
	border: 1px solid #3B3B3B;
	top: 41px;
	right: 1vw;
	left: 1vw;
	bottom: 20px;
	display: inline-block;
	position: absolute;
	z-index: 100;
	margin: 0 auto;
}
.navbar-border::before{
	content:'';
	width: 20vw;
	height: 35px;
	border-top: 1px solid #3B3B3B;
	border-left: 1px solid #3B3B3B;
	top: 41px;
	left: 2.5vw;
	display: inline-block;
	position: absolute;
	z-index: 10;
	margin: 0 auto;
}
.navbar-border::after{
	content:'';
	width: 20vw;
	height: 35px;
	border-top: 1px solid #3B3B3B;
	border-right: 1px solid #3B3B3B;
	top: 41px;
	right: 2.5vw;
	display: inline-block;
	position: absolute;
	z-index: 10;
	margin: 0 auto;
}
.navbar{
	background-color: #252525;
	padding-top: 20px;
	width: 100%;
	margin: auto; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar:first-child {
  z-index: 99999;
}
.nav-item{
	background-color: #252525;
	z-index: 1050;
}
.nav-link {
	color: #fff; 
	text-transform: uppercase;
	font-size: .9em;
}
.nav-link:hover {
	color: #f2989e !important; 
	transition: color .1s ease-out;
}
.navbar-brand{
	font-size: 1.6em;
	font-family: 'Frank Ruhl Libre', serif;
}
.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.5vw;
}
.h-carousel{
	background-color: #252525;
	width: 94%;
	margin: 0 auto;
	height: 100%;
	max-height: 662px;
}
.h-carousel-inner{
	height: 100%;
}
.h-carousel-item{
	height: 110%;
	color: #fff;
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 2.4em;
	font-weight: 300;
	text-align: center;
	margin:  auto 0;
}
.h-slide-text p:last-child{
	font-size: 1.4em;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	color: #f2989e;
}
.h-carousel .carousel-indicators{
	z-index: 1035;
	bottom: -1px;
}
.h-slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
}
.h-carousel .carousel-indicators .active{
	background-color: #f2989e;
}
.h-carousel .carousel-indicators li{
	color: #f2989e;
	width: 11px;
	height: 11px;
	background-color: #3B3B3B;
	transform: rotate(45deg);
	margin: 0 6px;
	margin-bottom: .1vh;
}

.h-carousel .carousel-control-prev, .h-carousel .carousel-control-next {
    width: 10%;
	z-index: 1035;
 }
.h-carousel .carousel-control-prev-icon{
 	background-image: url(../images/arrow-l.png);
 	background-position: center;
 	width: 30px;
 	height: 20px;
 }
 .h-carousel .carousel-control-next-icon{
 	background-image: url(../images/arrow-r.png);
 	background-position: center;
 	width: 30px;
 	height: 20px;
 }


 /*   *** GENERAL ***   */

.section-general{
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*padding: 80px 0;*/
	padding: 5vw 0;
}
section hgroup{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5vw;
}
hgroup h3{
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	color: #f2989e;
	font-size: 1.6em;
	font-weight: 600;
}
hgroup p{
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 2.4em;
	font-weight: 300;
	text-align: center;
	line-height: 1.2em;
}

.row{
	margin: 0px; 
}

/* ***  TEXT BACKGROUND  *** */

/*.services-section{
	position: relative;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='30%' width='20%'> \
    <text x='50%' y='50%' \
      style='fill:lightBlue; text-anchor: middle; text-transform: uppercase; text-shadow: 0px 0px 1px grey;' font-size='96'> \
      SERVICES \
    </text></svg>");
    z-index: -999;
}*/
.services-section, .albums-section, .thoughts-section{
	position: relative;
	overflow: hidden;
}
.services-section::before, .albums-section::before, .thoughts-section::before{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-60%, -45%);
	width: 100%;
	letter-spacing: 1vw;
	color: #fff;
	text-transform: uppercase;
	font-size: 35vw;
	font-family: 'Frank Ruhl Libre', serif;
	font-weight: 600;
	text-shadow: 0px 0px 10vw #eaeaea;
	z-index: -1;
}
.services-section::before{	
	content: "services";
}
.albums-section::before{	
	content: "albums";
}
.thoughts-section::before{	
	content: "thoughts";
}



.serv-box img, .album-gallery img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
	filter: grayscale(100%) brightness(80%);
	z-index: -1;
	transition: .2s linear;
}
.serv-box, .album-item a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.serv-box::before, .album-item a::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #f2989e;
	opacity: 0;
	transition: .2s linear;
}
.album-item a::after{
	content: url(../images/arrow-r.png);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(.3);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .2s linear;
}
.serv-box:hover::before, .album-item a:hover::before{
	opacity: .8;
	transition: .2s linear;
}
.album-item a:hover::after{	
	opacity: 1;
	transition: .2s linear;
}
.serv-box:hover img{
	transform: scale(1.02, 1.02);
	transition: .2s linear;
}
.serv-box h4{
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
	bottom: 10%;
	color: #fff;
	text-transform: uppercase;
}


/*   ALBUMS SECTION   */

/*.album-gallery-box{
	padding: 0;
}*/
.albums-section .row div:last-child{
		padding: 0;
}
.album-gallery{
	margin: 0;
	padding: 0;
	display: grid;
  	grid-gap: 0;
  	/*grid-template: 10vw 10vw 10vw / 10vw 10vw 10vw 10vw;*/
}
.img-1{
	grid-column: 1/3;
	grid-row: 1/2;
}
.img-2{
	grid-column: 3/4;
	grid-row: 1/2;
}
.img-3{
	grid-column: 4/5;
	grid-row: 1/3;
}
.img-4{
	grid-column: 1/2;
	grid-row: 2/3;
}
.img-5{
	grid-column: 2/4;
	grid-row: 2/4;
}
.img-6{
	grid-column: 1/2;
	grid-row: 3/4;
}
.img-7{
	grid-column: 4/5;
	grid-row: 3/4;
}

.album-caption, .album-caption hgroup{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 0;
}
.album-caption hgroup p{
	text-align: right;
}
.album-caption button{
	text-transform: uppercase;
	color: #fff;
	background-color: #f2989e;
	padding: 15px 15px 13px 15px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: .7em;
	border-radius: 0px;
	transition: all .1s linear;
	line-height: 1em;
}
.album-caption button:hover{
    filter: brightness(105%) drop-shadow(0px 0px 1.5px gray);
    transition: all .1s linear;
}


/* ***   THOUGHTS SECTION   *** */
	
		/*   * SLIDER *   */

.t-carousel .carousel-item-next, .t-carousel .carousel-item-prev, .t-carousel .carousel-item.active {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.t-carousel-inner {
	width: 80vw;
	margin: 0 auto;
	overflow: hidden;
}

.t-carousel .carousel-control-prev, .t-carousel .carousel-control-next {
	z-index: 1035;
 }
.t-carousel .carousel-control-prev-icon{
 	background-image: url(../images/arrow-l-b.png);
 	background-position: center;
 	width: 30px;
 	height: 20px;
 }
 .t-carousel .carousel-control-prev{
 	left: -10vw;
 }  
 .t-carousel .carousel-control-next{
 	right: -10vw;
 }
 .t-carousel .carousel-control-next-icon{
 	background-image: url(../images/arrow-r-b.png);
 	background-position: center;
 	width: 30px;
 	height: 20px;
 }

.thoug-box{
	background-color: #eaeaea;
	margin: 0 1%;
	padding: 3vw;
	transition: all .1s ease-out;
	flex: 0 0 48%;
}
.thoug-box h4{
	font-family: 'Frank Ruhl Libre', serif;
	font-weight: 300;
	padding-bottom: 1.5vw;
	margin-bottom: 0;
}
.thoug-box:hover{
    filter: brightness(105%);
	transform: scale(1.02);
    transition: all .1s ease-out;
    cursor: pointer;
}
.thoug-box time{
	font-family: 'Josefin Sans', sans-serif;
	color: #f2989e;
	font-size: .9em;
	text-transform: uppercase;
	padding-bottom: 1.5vw;
	display: inline-block;
}
.thoug-box p{
	font-style: italic;
	font-weight: 300;
	font-size: .9em;
	line-height: 1.8em;
	color: gray;
}

/* *** MEDIA QUERIES *** */

@media screen and (max-width: 767px){
	nav {
	    min-height: 64px;
	}
	.hidden-md{
		display: none;
	}
	.header::before{
		/*top: 41px;*/
	}
	.navbar{
		position: fixed;
		justify-content: flex-start;
		padding: 5vh 2.5vw; 
		width: 100%;
	}
/*	.navbar-md{
		width: 100%;
		justify-content: flex-start;
		padding: 1vw 2vw; 
	}*/
	.h-carousel-item{
	font-size: 2em;
	}
		.navbar-border::before{
		content:'';
		width: 20vw;
		height: 80px;
		border-top: 1px solid #3B3B3B;
		border-left: 1px solid #3B3B3B;
		top: 5vh;
		left: 2.5vw;
		display: inline-block;
		position: absolute;
		z-index: -10;
		margin: 0 auto;
		border-top-left-radius: .25rem;
		}
		.navbar-border::after{
		content:'';
		width: 80vw;
		height: 80px;
		border-top: 1px solid #3B3B3B;
		border-right: 1px solid #3B3B3B;
		top: 5vh;
		right: 2.5vw;
		display: inline-block;
		position: absolute;
		z-index: -10;
		margin: 0 auto;
		}



}
