*:focus {
    outline: none !important;
}
body{
overflow-x: hidden;
}

.header{
	background-color: #252525;
	height: 100vh;
	max-height: 675px;
	min-height: 300px;
	margin-bottom: 5vw;
}
.header::before{
	content:'';
	width: 95vw;	
	min-height: 240px;
	max-height: 600px;
	height: auto;
	border: 1px solid #3B3B3B;
	top: 41px;
	right: 1vw;
	left: 1vw;
	bottom: 20px;
	display: inline-block;
	position: absolute;
	z-index: 100;
	margin: 0 auto;
}
.navbar-border::before{
	content:'';
	width: 20vw;
	height: 35px;
	border-top: 1px solid #3B3B3B;
	border-left: 1px solid #3B3B3B;
	top: 41px;
	left: 2.5vw;
	display: inline-block;
	position: absolute;
	z-index: 10;
	margin: 0 auto;
}
.navbar-border::after{
	content:'';
	width: 20vw;
	height: 35px;
	border-top: 1px solid #3B3B3B;
	border-right: 1px solid #3B3B3B;
	top: 41px;
	right: 2.5vw;
	display: inline-block;
	position: absolute;
	z-index: 10;
	margin: 0 auto;
}
.navbar{
	background-color: #252525;
	padding-top: 20px;
	width: 100%;
	margin: auto; 
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbar:first-child {
  z-index: 99999;
}
.nav-item{
	background-color: #252525;
	z-index: 1050;
}
.nav-link {
	color: #fff; 
	text-transform: uppercase;
	font-size: .8em;
}
.nav-link:hover {
	color: #f2989e !important; 
	transition: color .1s ease-out;
}
.navbar-brand{
	font-size: 1.6em;
	font-family: 'Frank Ruhl Libre', serif;
}
.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1vw;
}
.h-carousel{
	background-color: #252525;
	width: 94%;
	margin: 0 auto;
	height: 100%;
	max-height: 662px;
}
.h-carousel-inner{
	height: 100%;
}
.h-carousel-item{
	height: 110%;
	color: #fff;
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 2.4em;
	font-weight: 300;
	text-align: center;
	margin:  auto 0;
	white-space: nowrap;
}
.h-slide-text p:last-child{
	font-size: 1.4em;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	color: #f2989e;
}
.h-carousel .carousel-indicators{
	z-index: 1035;
	bottom: -1px;
}
.h-slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
}
.h-carousel .carousel-indicators .active{
	background-color: #f2989e;
}
.h-carousel .carousel-indicators li{
	color: #f2989e;
	width: 11px;
	height: 11px;
	background-color: #3B3B3B;
	transform: rotate(45deg);
	margin: 0 6px;
	margin-bottom: .1vh;
}

.h-carousel .carousel-control-prev, .h-carousel .carousel-control-next {
    width: 10%;
	z-index: 1035;
 }
.h-carousel .carousel-control-prev-icon{
 	background-image: url(../images/arrow-l.png);
 	background-position: center;
 	width: 30px;
 	height: 20px;
 }
 .h-carousel .carousel-control-next-icon{
 	background-image: url(../images/arrow-r.png);
 	background-position: center;
 	width: 30px;
 	height: 20px;
 }


 /*   *** GENERAL ***   */

.section-general{
	/*min-height: 500px;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5vw 0;
}
section hgroup{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 4vw;
}
hgroup h3{
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	color: #f2989e;
	font-size: 1.6em;
	font-weight: 600;
}
hgroup p{
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 2.4em;
	font-weight: 300;
	text-align: center;
	line-height: 1.2em;
}

.row{
	margin: 0px; 
}

/* ***  TEXT BACKGROUND  *** */

/*.services-section{
	position: relative;
    background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='30%' width='20%'> \
    <text x='50%' y='50%' \
      style='fill:lightBlue; text-anchor: middle; text-transform: uppercase; text-shadow: 0px 0px 1px grey;' font-size='96'> \
      SERVICES \
    </text></svg>");
    z-index: -999;
}*/
.services-section, .albums-section, .thoughts-section, .about-section, .shop-section, .contact-section{
	position: relative;
	overflow: hidden;
}
.services-section::before, .albums-section::before, .thoughts-section::before, .about-section::before, .shop-section::before, .contact-section::before{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-60%, -45%);
	width: 100%;
	letter-spacing: 1vw;
	color: #fff;
	text-transform: uppercase;
	font-size: 35vw;
	font-family: 'Frank Ruhl Libre', serif;
	font-weight: 600;
	text-shadow: 0px 0px 10vw #eaeaea;
	z-index: -1;
	white-space: nowrap;
}
.services-section::before{	
	content: "services";
}
.albums-section::before{	
	content: "albums";
}
.thoughts-section::before{	
	content: "thoughts";
}
.about-section::before{	
	content: "about";
}
.shop-section::before{	
	content: "my shop";
  	top: 40%;
}
.contact-section::before{	
	content: "contact";
}



.serv-box img, .album-gallery img, .about-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
	filter: grayscale(100%) brightness(80%);
	z-index: -1;
	transition: .2s linear;
}
.about-img {
	height: 40vw;
	padding: 0;
}
.about-img img{
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.serv-box, .album-item a, .conctact-caption{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.serv-box::before, .album-item a::before{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: #f2989e;
	opacity: 0;
	transition: .2s linear;
}
.album-item a::after{
	content: url(../images/arrow-r.png);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(.3);
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .2s linear;
}
.serv-box:hover::before, .album-item a:hover::before{
	opacity: .8;
	transition: .2s linear;
}
.album-item a:hover::after{	
	opacity: 1;
	transition: .2s linear;
}
.serv-box:hover img{
	transform: scale(1.02, 1.02);
	transition: .2s linear;
}
.serv-box h4{
	font-family: 'Josefin Sans', sans-serif;
	position: absolute;
	bottom: 10%;
	color: #fff;
	text-transform: uppercase;
}
 .services-section hgroup p, .thoughts-section hgroup p, .shop-section hgroup p{
 	/*max-width: 60vw;*/
 	max-width: 460px;
 	/*max-width: 13em;*/
 }

/*   ALBUMS  &  ABOUT   SECTION   */

.album-caption, .album-caption hgroup, .about-caption, .contact-caption, .contact-caption hgroup{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 0;
}

.album-caption hgroup, .about-caption hgroup{
	max-width: 22em;
}
.about-caption, .about-caption hgroup{
	align-items: flex-start;
	padding-bottom: 0;
}
.album-caption hgroup p, .contact-caption hgroup p{
	text-align: right;
}
.about-caption hgroup p{
	text-align: left;
}
.album-caption button, .about-caption button, .contact-caption button{
	text-transform: uppercase;
	color: #fff;
	background-color: #f2989e;
	margin-top: 1vw;
	padding: 15px 15px 13px 15px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: .7em;
	border-radius: 0px;
	transition: all .1s linear;
	line-height: 1em;
}
.album-caption button:hover, .about-caption button:hover, .contact-caption button:hover{
    filter: brightness(110%) drop-shadow(0px 0px 1.5px gray);
    transition: all .1s linear;
}
.album-content-right, .about-content-left{
	padding: 0;
}
.album-content-left, .album-content-right, .about-content-left, .about-content-right{
	display: flex;
	justify-content: center;
	align-items: center;
}
.album-gallery{
	margin: 0;
	padding: 0;
	display: grid;
  	grid-gap: 0;
}
.img-1{
	grid-column: 1/3;
	grid-row: 1/2;
}
.img-2{
	grid-column: 3/4;
	grid-row: 1/2;
}
.img-3{
	grid-column: 4/5;
	grid-row: 1/3;
}
.img-4{
	grid-column: 1/2;
	grid-row: 2/3;
}
.img-5{
	grid-column: 2/4;
	grid-row: 2/4;
}
.img-6{
	grid-column: 1/2;
	grid-row: 3/4;
}
.img-7{
	grid-column: 4/5;
	grid-row: 3/4;
}

.shop-box h4{ 
	position: absolute; 
	font-family: 'Josefin Sans', sans-serif;
	color: #f2989e;
	top: 1vw;
	left: 1vw;
	font-size: 1em;
}
.shop-box{
	height: 25vw;
	margin: 1vw;
	background-color: #eaeaea;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: .2s linear;

}
.shop-item img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    box-shadow: 0px 0px 1vw grey;
	transition: .2s linear;
}
.shop-box:hover{
	background-color: #f2f2f2;
	transition: .2s linear;

}
.shop-box:hover img{
	transform: scale(1.1);
	transition: all .2s linear;
}
.shop-box a, .shop-item{
	display: flex;
    justify-content: center;
    align-items: center;
}
.shop-box a{
	width: 100%;
	height: 100%;
	padding: 0;
}
.shop-item{
	transition: all .2s linear;
	z-index: 1;
	height: 18vw;
	position: relative;
    width: 100%;
    max-width: 18vw;
}

/*   *** CONTACT SECTION ***   */
.contact-details {
	padding: 0;

}
.contact-details dl{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f2989e;
	color: #fff;
	padding: 5vw;
}
.contact-details dt{
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	padding-top: 2vw; 
	font-size: .7em;
}

.contact-details dd:not(:last-child), footer nav, footer div:not(:last-child){
	border-bottom: 1px solid #f4c1c4;
	border-bottom: 1px solid rgba(255, 255, 255, .3);
}
.contact-details dd{
	padding-bottom: 2vw; 
	margin-bottom: 0;
}
.contact-details dd a{
	font-family: 'Frank Ruhl Libre', serif;
	font-weight: 300;
	color: #fff;
	color: rgba(255, 255, 255, .9);
	text-decoration: none;
	transition: .1s linear;
	font-size: 1.5em;
}
.contact-details dd a:hover{
    filter: drop-shadow(0px 0px .3px #fff);
	transition: all .1s linear;
}

/* ***   THOUGHTS SECTION   *** */
	
		/*   * SLIDER *   */

.t-carousel .carousel-item-next, .t-carousel .carousel-item-prev, .t-carousel .carousel-item.active {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.t-carousel-inner{
	width: 80vw;
	margin: 0 auto;
	overflow: hidden;
}

.t-carousel .carousel-control-prev, .t-carousel .carousel-control-next {
	z-index: 1035;
 }
.t-carousel .carousel-control-prev-icon{
 	background-image: url(../images/arrow-l-b.png);
 	background-position: center;
 	width: 30px;
 	height: 20px;
 }
 .t-carousel .carousel-control-prev{
 	left: -10vw;
 }  
 .t-carousel .carousel-control-next{
 	right: -10vw;
 }
 .t-carousel .carousel-control-next-icon{
 	background-image: url(../images/arrow-r-b.png);
 	background-position: center;
 	width: 30px;
 	height: 20px;
 }

.thoug-box{
	background-color: #eaeaea;
	margin: 0 1%;
	padding: 3vw;
	transition: all .1s ease-out;
	flex: 0 0 48%;
}
.thoug-box h4{
	font-family: 'Frank Ruhl Libre', serif;
	font-weight: 300;
	padding-bottom: 1.5vw;
	margin-bottom: 0;
}
.thoug-box:hover{
    filter: brightness(105%);
	transform: scale(1.02);
    transition: all .1s ease-out;
    cursor: pointer;
}
.thoug-box time{
	font-family: 'Josefin Sans', sans-serif;
	color: #f2989e;
	font-size: .9em;
	text-transform: uppercase;
	padding-bottom: 1.5vw;
	display: inline-block;
}
.thoug-box p{
	font-style: italic;
	font-weight: 300;
	font-size: .9em;
	line-height: 1.8em;
	color: gray;
}

/* *** FOOTER *** */
.footer{
	background-color: #000;
	color: #fff;
	min-height: 40vh;
	flex-direction: column;
	justify-content: center;
	padding: 5vw 0;
	margin-top: 5vw;
}
.footer nav, .footer div{
	padding-top: 3vw; 
	font-size: .7em;
}
.footer nav, .footer div{
	padding-bottom: 3vw; 
	margin-bottom: 0;
}
.footer nav, .footer nav ul{
	padding-right: 0;
	padding-left: 0;

}

.footer nav ul li{
	list-style-type: none;
	text-align: center;
	max-width: 8em;
}

.footer nav ul li a{
	font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	transition: all .1s ease-out;
}
.footer nav ul li a:hover, .social a:hover{
	text-decoration: none;
	color: #f2989e;
	transform: scale(0.95);
	transition: all .1s ease-out;
}

.footer nav ul li a, .social a{
	color: #fff;
}
.social a{
	font-size: 3.4em;
	text-align: center;
	transition: all .1s ease-out;
	max-width: 2em;
}
.copyright p{
	font-family: 'Frank Ruhl Libre', serif;
	font-weight: 300;
	font-size: 1.8em;
	text-align: center;
	margin: 0;
}


/* *** MEDIA QUERIES *** */

@media screen and (max-width: 767px){
	nav {
	    min-height: 64px;
	}
	.hidden-md{
		display: none;
	}
	.navbar{
		position: fixed;
		justify-content: flex-start;
		padding: 5vh 2.5vw; 
		width: 100%;
	}
	.header{
		padding: 0;
	}

 	.h-carousel-item{
		font-size: 2em;
	}
	.h-slide-text p:last-child{
		font-size: 1.2em;
	}
		.navbar-border::before{
		content:'';
		width: 20vw;
		height: 80px;
		border-top: 1px solid #3B3B3B;
		border-left: 1px solid #3B3B3B;
		top: 5vh;
		left: 2.5vw;
		display: inline-block;
		position: absolute;
		z-index: -10;
		margin: 0 auto;
		border-top-left-radius: .25rem;
		}
		.navbar-border::after{
		content:'';
		width: 80vw;
		height: 80px;
		border-top: 1px solid #3B3B3B;
		border-right: 1px solid #3B3B3B;
		top: 5vh;
		right: 2.5vw;
		display: inline-block;
		position: absolute;
		z-index: -10;
		margin: 0 auto;
		}
	.serv-content{
		flex-direction: column;
	}
	.serv-item{
		margin-bottom: 4vw;
	}
	.album-content-left{
		margin: 0 auto;
	}
	.album-caption, .album-caption hgroup, .about-caption, .about-caption hgroup, .contact-caption, .contact-caption hgroup{
		align-items: center;
	}
	.album-caption hgroup p, .contact-caption hgroup p, .about-caption hgroup p{
		text-align: center;
	}
	.album-caption, .about-caption, .services-section hgroup, .contact-caption{
		margin-bottom: 4vw;
	}
	.services-section hgroup, .album-caption hgroup, .about-caption hgroup, .contact-caption hgroup{
		padding: 0;
		max-width: 90%;
	}
	.album-caption button, .about-caption button, .contact-caption button{
		margin-bottom: 1rem;
	}
	.about-content-right{
		order: 0;
	}
	.about-content-left{
		order: 1;
	}
}

@media screen and (max-width: 576px){
	.h-carousel-item{
		font-size: 1.6em;
	}
	.h-slide-text p:last-child{
		font-size: 1em;
	}
	.h-carousel .carousel-control-prev, .h-carousel .carousel-control-next, .t-carousel .carousel-control-prev, .t-carousel .carousel-control-next{
	    transform: scale(.7);
	}
	hgroup h3{
		font-size: 1.2em;
	}
	hgroup p{
		font-size: 1.9em;
	}
	.album-content-left, .about-content-right, .thoughts-section hgroup, .shop-section hgroup, .contact-caption{
		padding-left: 0;
		padding-right: 0;
	}
	.services-section hgroup, .album-caption hgroup, .about-caption hgroup, .contact-caption hgroup{
		max-width: 100%;
		padding: 0 1vw;
	}
	.serv-item{
		padding: 0;
		height: 45vw;
	}
	.serv-box, .serv-box::before, .serv-box img{
		max-height: 100%;
		object-position: center 3vw;
	}
	.shop-box{
		height: 40vw;
	}
	.shop-item{
		height: 33vw;
		max-width: 33vw;
	}
	.t-carousel .carousel-item-next, .t-carousel .carousel-item-prev, .t-carousel .carousel-item.active{
		flex-direction: column;
	}
	.thoug-box, .thoug-box p{
		margin: 1vw;
	}
	.contact-details dl, .footer{
		padding: 3vw 0;
	}
	.footer nav ul{
		flex-direction: column;
	}
	.footer nav ul .col-sm-2{
		width: 70%;
		max-width: 100%;
		padding: 3vw;
	}
	.footer nav ul li:not(:first-child){
		border-top: 1px solid #3a3a3a;
	}
	.social a{
		font-size: 2.4em;
	}
	.copyright p{
		font-size: 1.4em;
	}
}
